body {
    background-color: #F8E1B7;
    color: #754E1A;
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #CBA35C;
    padding: 15px 0px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
}

.nav-left {
    font-size: 22px;
    font-weight: bold;
    color: #754E1A;
    flex: 0 0 auto;
    padding-left: 1%;
}

.nav-center {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    flex: 1; 
    justify-content: center;
}

.nav-center li a {
    text-decoration: none;
    color: #754E1A;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-center li a:hover {
    color: #754E1A;
}

.nav-right {
    display: flex;
    gap: 15px;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
}

.nav-right a {
    display: flex;
    align-items: center;
}

.nav-right img {
    width: 24px;
    height: 24px;
    transition: opacity 0.3s ease;
}

.nav-right img:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-center {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .nav-right {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }
}

.welcome-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    height: auto; 
}

.description {
    flex: 1;
    padding: 20px;
    background-color: #CBA35C;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    margin-bottom: 20px;
}

.description h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description p {
    font-size: 18px;
    margin-bottom: 15px;
}

.description h3 {
    font-size: 22px;
    margin-top: 20px;
}

.contact {
    font-size: 0.9em;
}

.contact a {
    text-decoration: underline;
    color: #754E1A;
}

.contact a:hover {
    color: #754E1A;
}

.realisation-item {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #B6CBBD;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.realisation-item h3 {
    font-size: 22px;
    margin-bottom: 10px;
}
